html {
    cursor: url("recursos/cursorm.png") , auto;
}
html:active {
    cursor: url("recursos/cursoralt.png") , auto;
}

/* .submenu {
    display: none;
    list-style-type: none; /* Esto elimina el círculo 
    background-color: #b2d5cd;
    padding: 0px;
    white-space: nowrap ;
    text-align: left;
    position: absolute;
    top: 100%; /* Esto asegura que el submenú aparezca justo debajo del elemento de navegación 
}

.submenu li{ 
    border: 1px solid #CCE3DE;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
} */

button[type="menu"]{
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin-bottom: 3px;
    padding: 1% 5%;
    background: #B2D5CD;
    color: #3F7368;
    border: none;
    float: left;
    white-space: nowrap;
}

button[type="menu"]:hover{
    color: #5EA697;
    cursor: url("recursos/cursoralt.png") , auto;
}

label{
    cursor: pointer;
    font-weight: bold;
}

details summary{
    line-height:0;
}

details {
    line-height:1.2;
    white-space: normal;
    overflow-wrap: break-word;
}

body{
    background-color: #CCE3DE;
}
.navegador{
    position: fixed;
    width: 98.5%;
    border-radius: 2px;
    background: #B2D5CD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
}

.navegador:hover{
    cursor: url("recursos/cursoralt.png") , auto;
}

#logo{
    display: inline-block;
    margin-left: 4px;
    flex-direction: column;
    justify-content: center;
    
    font-family: "Monsieur La Doulaise", serif;
    font-size: 38px;
}

#logo a{
    color: black;
    text-decoration: none;
}
#logo a:hover{
    cursor: url("cursoralt.png") , auto;
}

.nav-menu{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3F7368;
    font-style: normal;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.option a{
    text-decoration: none;
    color: #3F7368;
    display: block;
}

.option{
    display: none;
    position: absolute;
    left: 0;
    min-width: 100px;
    background-color: #B2D5CD;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 10000;
    flex-direction: column;
}

.bOption{
    flex: 1;
    margin-right: 3px;
    position: relative;
}

.nav-menu a:hover {
    color: #5EA697;        /*cambia el color al pasar el ratón*/
    cursor: url("cursoralt.png") , auto;
}
/* @media (max-width: 1000px) {
    .logo{
        margin-top: 35px;
      }
    .nav-menu{
        flex-direction: column; /* Cambia a vertical 
        text-align: left;
        width: 100%;            /* Ocupa todo el ancho 
    }
    
	header{
	    font-size:large;
        margin-top: 15%;
	}
    
    aside{
        margin-top: 12%;
    }
} */

#fle{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1%;   
    padding-top: 10%;
}

#cont{
    width: 82.5%;
    position: -webkit-sticky;
}

header{
    background: #B2D5CD;
    text-align: center;
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#header{
    justify-content: center;
    font-family: "Rubik", serif;
    font-size: x-large;
    font-weight:500;
}

#mje{
    color: #620808;
    font-family: "Rubik", serif;
    font-size: medium;
    
}

aside{
    height: 100%;
    width: 16%;
    right:1%;
    background-color: #B2D5CD;
    text-align: center;
    font-family: "Rubik", serif;
    font-weight: 400;
    position: fixed;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#cuerpo{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #b2d5cd;
}

h2{
    font-family: "Rubik", serif;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
}

h3{
    font-size: medium;
    text-align: center;
    font-family: "Rubik", serif;
}
.h44{
    font-family: "Rubik", serif;
    font-size: medium;
    font-weight: 200;
    text-align: left;
    line-height:1.3;
    white-space: normal;
    overflow-wrap: break-word;
    margin-left: 5%;
    list-style-type: none;
}

.h44::before {
    content: "";  /* Necesario para que el pseudo-elemento se vea */
    display: inline-block;
    width: 20px;  /* Ancho del marcador */
    height: 20px; /* Alto del marcador */
    background-image: url('recursos/señaladorlibro.png');
    background-size: cover;  /* Asegura que la imagen se ajuste al tamaño */
    background-repeat: no-repeat;
    margin-right: 10px;  /* Espaciado entre el marcador y el contenido */
    
}

.h44:hover {
    color: #5EA697;        /*cambia el color al pasar el ratón*/
    cursor: url("cursoralt.png") , auto;
}

.unidad1{
    font-family: "Rubik", serif;
    font-size: medium;
    font-weight: 200;
  	list-style-type: none; /*elimina los numerados.*/
	padding: 50;			   /*distanciamiento a la izq.*/
    text-align: left;
}

.unidad1 li{
    margin-left: 3%;       /*Separación entre elementos*/
}

.unidad1 a{
    text-decoration: none; /*elimina la línea debajo*/
    color: #3F7368;
}

.unidad1 a:hover {
    color: #5EA697;        /*cambia el color al pasar el ratón*/
    cursor: url("cursoralt.png") , auto;
}
#txt{
    font-size: medium;
    padding: 8px;
    text-align:left;
}
